
	html {
		scroll-behavior: smooth;
	}
	.topnav {
		height: 90px;
		text-align: center;		
		background-color: #ffffff;
		overflow: hidden;
		position: fixed;
		top: 0px;
		width: 100%;
		
	}
	.btn a {
		  line-height: 1.5em;
		  float: right;
		  color: black;		  
		  padding: 12px 16px;
		  text-decoration: none;
		  font-size: 18px;
		  background-color: #000000;
		  border: none;
		  color: white;
		  opacity: 1;
		  transition: 0.3s;
		  text-align: center;
		  text-decoration: none;
		  position: relative;
			top: 50%;
			transform: translateY(-50%);
		  border-radius: 12px;
		  cursor: pointer;
		  margin: 3px;
		}
	.btn a:hover {
		  opacity: 0.6
		}
		
	.logo a {
		  float: left;
		  color: black;
		  padding: 14px 16px;
		  text-decoration: none;
		  font-size: 17px;
		  display: inline-block;
		}	
	.content a {
		  height: 50px;
		  line-height: 50px;
		  word-spacing: 10px;
		  float: center;
		  color: grey;
		  padding: 14px 16px;
		  text-decoration: none;
		  font-size: 17px;
		  display: inline-block;
		  opacity: 1;
		  transition: 0.3s;
		}	

	
	.content a:hover {
		  opacity: 0.8
		}
	.header a {		
		  float: center;
		  color: black;		  
		  padding: 12px 16px;
		  text-decoration: none;
		  font-size: 18px;
		  background-color: #000000;
		  border: none;
		  color: white;
		  opacity: 1;
		  transition: 0.3s;
		  text-align: center;
		  text-decoration: none;
		  border-radius: 8px;
		  cursor: pointer;
		  margin: 3px;	
		}
	.header a:hover {
		  opacity: 0.8
		}
	
	body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
	.w3-bar,h1,button {
		font-family: "Montserrat", sans-serif
		}
		
	.signin {
		text-align:right;
		display:block;
		margin-right;
		}
	<!--background image -->	
	.bgimg {
		background-image: url('/w3images/forestbridge.jpg');
		min-height: 100%;
		background-position: center;
		background-size: cover;
		}
