.card {
    border-radius: 1rem;
}

tr th {
    vertical-align: top !important;
}

.dataTables_filter input {
    width: 230px !important;
}

.card .card-header .dropdown {
    line-height: 1;
}

.card .card-header .dropdown .dropdown-menu {
    line-height: 1.5;
}

.card .card-header[data-toggle="collapse"] {
    text-decoration: none;
    position: relative;
    padding: 0.75rem 3.25rem 0.75rem 1.25rem;
}

.card .card-header[data-toggle="collapse"]::after {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 1.725rem;
    line-height: 51px;
    font-weight: 900;
    content: '\f107';
    color: #d1d3e2;
}

.card .card-header[data-toggle="collapse"].collapsed {
    border-radius: 0.35rem;
}

.card .card-header[data-toggle="collapse"].collapsed::after {
    content: '\f105';
}

.dropdown.no-arrow .dropdown-toggle::after {
    display: none;
}


.chart-area {
    position: relative;
    height: 10rem;
    width: 100%;
}

@media (min-width: 768px) {
    .chart-area {
        height: 20rem;
    }
}

.chart-bar {
    position: relative;
    height: 10rem;
    width: 100%;
}

@media (min-width: 768px) {
    .chart-bar {
        height: 20rem;
    }
}

.chart-pie {
    position: relative;
    height: 15rem;
    width: 100%;
}

@media (min-width: 768px) {
    .chart-pie {
        height: calc(20rem - 43px) !important;
    }
}

b {
    font-size: 0.9rem !important;
}
