body{
    color: black;
    background-color: #f3f3f3;
}
#privacyPolicy{
    position: relative;
}

#privacyPolicy.pt-6{
    padding-top: 8rem;
    padding-bottom: 8rem;
}

#privacyPolicy .header{
    line-height: 1.25 !important;
    font-weight: 700;
}

#privacyPolicy h5:not(:first-child){
    margin-top: 3rem;
}