	[data-tab-content] {
		display: none;
	}

	.active[data-tab-content] {
		display: block;
	}

	.tabs {
		display: flex;
		justify-content: center;
		list-style-type: none;
		margin: 0;
		padding: 0;
		border-bottom: 1px solid #5A6980;
		color: #5A6980;
	}

	.tab {
		cursor: pointer;
		padding: 10px;
	}

	.tab.active {
		color: #F7941D;
	}

	.tab:hover {
		color: #F7941D;
	}

	.tab-content {
		margin-left: 20px;
		margin-right: 20px;
	}

